header {
  display: flex;
  justify-content: space-between;

  padding-block: 20px;

  line-height: 0;
}

#tiago_logo {
  width: 40px;
  border-radius: 50%;
}


#primary-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 325px;

  gap: 20px;
  padding-block: 8px;
}