:root {
  font-family: "Alice", serif;
  color: #573A37;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(assets/bg.jpg);
  background-size: cover;
}

#page {
  box-sizing: border-box;
  width: 800px;
  padding: 24px;
  background-color: #F0E8C2;
  border-radius: 24px;
  margin: 48px auto 28px;
}

img {
  border-radius: 16px;
}

main {
  padding: 24px;
}

section + section {
  margin-top: 24px;
}

h1 {
  line-height: 140%;
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

h1, h2 {
  color: #291B1A;
  margin-bottom: 4px;
  line-height: 150%;
}

ul li {
  margin-left: 25px;
}

footer {
  color: #F0E8C2;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  padding-bottom: 48px;
}

footer img {
  padding: 0 4px;
  vertical-align: middle;
}